/*Eliminamos los margenes y paddings que agrega el navegador por defecto
 {
  padding: 0;
  margin: 0;
}
 
Agregamos margenes inferiores a los parrafos
p {
  margin-bottom: 20px;
}

header {
  background: rgba(0,0,0,0.9);
  width: 100%;
  position: fixed;
  z-index: 100;
}

nav {
  float: left; /* Desplazamos el nav hacia la izquierda 
}
 

nav ul {
  list-style: none;
  overflow: hidden;  Limpiamos errores de float 
} */
 
/*
nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
 
nav ul li a {
  display: block;  Convertimos los elementos a en elementos bloque para manipular el padding 
  padding: 20px;
  color: #fff;
  text-decoration: none;
}*/
/* 
nav ul li:hover {
  background: #3ead47;
}



.contenido {
  padding-top: 80px;
}  */
/*
.wrapper {
  width: 80%;
  margin: auto;
  overflow:hidden;
}


*/

body {
	
	
	background:#000000;
	margin-left:10em;
	
	
}

.main{
	
	width:90%;
	min-width:1000px;
	/*margin:20px auto;*/
	
}

.slides {
	width:86%;
	
	
}


.slides img {
	
	
	width: 1700px;
	height:600px;
	#1450
	#1040px
	
}

.slidesjs-pagination {
	
	background:#424242;
	list-style:none;
	overflow:hidden;
	
	}
	
	.slidesjs-pagination  li {
		
		float:left;
		
	}
	
.slidesjs-pagination  li  a {
	display: block;
	padding:10px 20px;
    color:#ffffff;
	text-decoration: none;
	
	
}

.slidesjs-pagination  li  a:hover {
	
	background:#000;

}


.slides .active {
	background: #000;
	
	
}

.slidesjs-navigation {
	
	background: #000;
	color:#ffffff;
	text-decoration:none;
	#display:inline-block;
	float:right;
	padding:13.5px  20px;

}

.slides h1 {
	
	text-color:#ffffff;
	color:#ffffff;
    text-align: center;
   font-size:70px;
   opacity: 0.5;
   position: absolute;
    top: 100px;
   left: 0;
   width: 100%;
   font-family:Berlin Sans FB Demi, Book Antiqua;
# font-size: 100px;
 ##<img src="https://www.imageupload.co.uk/images/2017/05/01/evaluacion.jpg" alt="" >
 #bottom:25px;
 #top --> mas pixeles baja , menos sube 
}

h2  {
	margin-left: 70px;
  margin-top:10px;
  margin bottom:20px;
}

h4  {
	
text-align: right;
margin-right: 70px;
margin-top: 10px;
margin-bottom:20px;	
	
}
