
* {

margin:0;
padding:0;

}


body {
	
	background:#f2f2f2;
	

	}



.main {
	
	width:90%;
	margin:20px auto;
       
	
	
}

.slides {
	
	width:1000px;

	
	
	
}


.slides img {
	
	
	width:1000px;
	
        
	#1450
	#1040px
	
}

.slidesjs-pagination {
	
	background:#424242;
	list-style:none;
	overflow:hidden;
	

	
	}
	
	.slidesjs-pagination  li {
		
		float:left;
		
	}
	
.slidesjs-pagination  li  a {
	display: block;
	padding:13.5px 20px;
    color:#fff;
	text-decoration: none;
}

.slidesjs-pagination  li  a:hover {
	
	background:#000;

}


.slides .active {
	background: #000;
	
	
}

.slidesjs-navigation {
	
	background: #000;
	color:#fff;
	text-decoration:none;
	display:inline-block;
	padding:13.5px  20px;
	float:right;
	
}

.slides h1 {
	
	text-color:#fff;
	color:#fff;
    text-align: center;
   font-size:60px;
   opacity: 0.5;
   position: absolute;
    top: 150px;
   left: 0;
   width: 100%;
   font-family:Berlin Sans FB Demi, Book Antiqua;
# font-size: 100px;
 ##<img src="https://www.imageupload.co.uk/images/2017/05/01/evaluacion.jpg" alt="" >
 #bottom:25px;
 #top --> mas pixeles baja , menos sube 
}
